<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="d-flex flex-row justify-content-between align-items-center">
      <h3>Add a new list</h3>
      <%= link_to (fa_icon "times"), root_path %>
    </div>

    <%= simple_form_for @list do |f| %>
      <%= f.input :name %>
      <div class="d-flex justify-content-between">
        <%= f.input_field :photo, placeholder: 'List-Cover', as: :file %>
        <%= f.submit class: 'btn btn-flat' %>
      </div>
    <% end %>
  </div>
</div>


