<div class="d-flex flex-row justify-content-between align-items-center">
  <h2><%= @list.name %></h2>
  <%= link_to (fa_icon "trash 1.5x"),list_path(@list), method: :delete, data: { confirm: "Are you sure you want to completely delete #{@list.name}?"} %> 
</div>

<p><%= link_to (fa_icon "plus", text: 'Add a movie to this list'), new_list_bookmark_path(@list) %></p>

<div class="row">
  <% @list.movies.each do |movie| %>
    <div class="col-4">
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="card-movie">
        <%= image_tag movie.poster_url, alt: movie.title, class: 'movie-img rounded-top', width: 200 %>
        <div class="card-movie-infos">
          <div>
            <h4><%= movie.title %></h4>
            <p><%= movie.rating %></p>
            <p><%= movie.overview %></p>
            <p>"<%= bookmark.comment %>"</p>
          </div>
          <%= link_to (fa_icon "trash"), bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list?"}, class: 'text-danger' %> 
        </div>
      </div>
    </div>
  <% end %>
</div>


<%= link_to (fa_icon "arrow-left"), lists_path %>
